.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    left: 18rem;
    width: 55%;
    height: 55%;
}

.video-title {
    margin: 7rem 0 1rem 18rem;
    display: flex;
    justify-content: flex-start;
}

.video-actions {
    margin: -24rem 0 0 18rem;
    display: flex;
    width: 55vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--light-pink);
    padding-bottom: -1rem;
}
.video-actions p {
    font-size: 1.2rem;
    border: solid 3px var(--default-pink);
    padding: 0.5rem;
    border-radius: 10px;
}
.video-btns {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}
.video-btns button {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 500;
    border: solid 3px var(--default-pink);
    padding: 0.5rem;
    border-radius: 10px;
    background: none;
}
.video-actions button span {
    margin-left: 0.5rem;
}

.creator-and-desc {
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.video-creator {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-pink);
}
.video-desc {
    font-size: 1.2rem;
    margin-top: -1rem;
}

.mustWatch-videos {
    margin: -49% 0 0 72vw;
}