.singleVideo-grid {
    display: flex;
    margin-left: 14rem;
    margin-top: 6rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

iframe {
    width: 100%;
}
.singleVideo-div {
    width: 55vw;
}
.video-actions {
    display: flex;
    width: 55vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--light-pink);
    padding-bottom: -1rem;
}

.video-actions p {
    font-size: 1.2rem;
    border: solid 3px var(--default-pink);
    padding: 0.5rem;
    border-radius: 10px;
}
.video-btns {
    display: flex;
    justify-content: space-around;
    width: 30vw;
}
.video-btns button {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 500;
    border: solid 3px var(--default-pink);
    padding: 0.5rem;
    border-radius: 10px;
    background: none;
    cursor: pointer;
}
.video-actions button span {
    margin-left: 0.5rem;
}

.creator-and-desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.video-creator {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--light-pink);
}
.video-desc {
    font-size: 1.2rem;
    margin-top: -1rem;
}
